<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>
</head>
<body>
	<h1>Users</h1>
	<a href="/users/adduser">Add User</a>
	<table border="1">

		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="user:${users}">
				<td th:text="${user.id}"></td>
				<td th:text="${user.name}"></td>
				<td th:text="${user.email}"></td>
				<td>
				<a th:href="@{/users/edituser/{id}(id=${user.id})}">edit</a>
				<a th:href="@{/users/deleteuser/{id}(id=${user.id})}">delete</a>
				</td>
			</tr>
		</tbody>

	</table>


</body>
</html>